@import "../../theme/Colors.scss";

.navbar {
  font-family: sans-serif;
  width: 100%;
  padding: 10px 25px;
  background-color: lightcoral;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo {
  width: 55px;
  border-radius: 50%;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

.navbar-list-item {
  text-decoration: none;
}
