@import "../../theme/variables";

.navbar {
  font-family: sans-serif;
  width: 100%;
  padding: 10px 25px;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include sombra;
}

.navbar-logo {
  width: 55px;
  border-radius: 50%;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

.navbar-list-item {
  > * {
    text-decoration: none;
  }
  :hover {
    text-decoration: underline;
  }
  :visited {
    color: inherit;
  }
}
